<h1>User info</h1>
<%= image_tag user.get_profile_image %>
<h2>name</h2>
<p><%= user.name %></p>
<h2>introduction</h2>
<p><%= user.introduction %></p>
<% if user == current_user %>
 <p><%= link_to "編集", edit_user_path(user.id) %></p>
<% end %>