<%= render 'books/list', user: @user_s , book: @book %>
<h1>Users</h1>
<body>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>

    <% @user.each do |user| %><!--ここにuserの一覧が-->
    <tbody>
      <tr>
        <td><%= image_tag user.get_profile_image %></td>
        <td><%= user.name %></td>
        <td><%= link_to "show", user_path(user.id) %></td>
      </tr>
    </tbody>
    <% end %>

  </table>
</body>
